h1 {
  text-align: center;
}

.container {
  padding: 2%;
}

.row {
  width: 100%;
  display: flex;
}

.col-big {
  width:70%;
  margin: 5px;
}

.col-small {
  width: 30%;
  margin: 5px;
}

ul {
list-style: none;
}

li {
  font-size: 40px;
}

#catDisplay {
  width: 100%;
}